:host {
  --primary: #f0552e;
  --black: #1a1a1a;
  --white: #fff;
  --gray: #999;
  --lightgray: #ebebeb;

  --black-marker: #1a1a1a;
  --orange-marker: #f0552e;
  --blue-marker: #76bce3;
  --brown-marker: #852d17;
  --yellow-marker: #ffa800;
}

.root {
  font-family: e-Ukraine, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

h2 {
  font-family: e-Ukraine-Head, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-family: e-Ukraine-Head, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  font-family: e-Ukraine-Head, sans-serif;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 60px;
  background-color: #fff;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--lightgray);
  border-radius: 60px;
  cursor: pointer;
}
