@keyframes scale-up-down {
  40% {
    transform: translate(-50%, -50%) scale(1.4);
  } 70% {
    transform: translate(-50%, -50%) scale(0.8);
  } 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.map-outer-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.map-inner-container {
  position: relative;
  width: max-content;
  height: 100vh;
}

.map-image {
  height: 100%;
}

.point {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  color: #fff;
  background-color: #999999;
  opacity: 0.7;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
}

.point.scale-up-down {
  animation: scale-up-down 0.5s;
}

.point.murder, .filter-point.murder {
  background-color: #1a1a1a;
  border: 1px solid #fff;
}

.point.abduction, .filter-point.abduction {
  background-color: #f0552e;
}

.point.torture, .filter-point.torture {
  background-color: #852d17;
}

.point.sexual, .filter-point.sexual {
  background-color: #ffa800;
}

.point.child, .filter-point.child {
  background-color: #76bce3;
}
